.Button {
     border: none;
  padding: 0;
  background: none;
       
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.AddItem {
  
   border: none;
  padding: 0;
  background: none;
}

.DelButton {
  border: none;
  padding: 0;
  background: none;  
}
.img {
     border: none;
}