
table {
 border-collapse: separate;
 width: 60%;
 background: white;
}

tr  {
    margin: 5px;
    display: block;
    border: 1px lightgrey solid;
    border-radius: 20px;
}
th{
padding: 3px;
width : 25%;
align-content: left;
}

td {
    padding: 2px;
    width : 25%;
   align-content: center;
}
tr:not(:last-child):hover  {
   background-color: lightgray; 
}

.buttonrow {
  
   border: none;
  padding: 0;
  background: none;
}
